<h1> About </h1>

<p id="about"> Welcome to Music
   <br>
   <br>
   <br>
   This is similar to Spotify where you can create a playlist and favorite the music you want.</p>
   <br>

   <div class="about_grid">

 
 

   <div>
     
      <br><br>
      
   </div>

 </div>

