// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#artist-show{
    text-align: center;
}

.subBtn {
    margin-bottom: 20px;
}

.artistName {
    margin-bottom: 0;
    margin-block-end: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


