// Place all the styles related to the PlaylistSongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form select{
    padding: 20px;
    font-size: large; 
}

#playlistDropdown {
    text-align: center;
}