// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid div:hover{
    color: #C99B2D;
}

h1{
    margin-bottom: 15px;
}

h2{
    margin-top: 15px;
    margin-bottom: 15px;
}

#song-show{
    text-align: center;
}

.artistName {
    margin-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#songTitle {
    margin-bottom: 0;
    margin-block-end: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
